.about {
    height: 50vh;
    display: flex;
    align-items: center;
}

.about-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.about-right {
    flex: 1;
}

.about-title {
    font-weight: 400px;
    text-align: center;
    color: #342E37;
    width: 100%;
}

.about-sub {
    margin: 20px 0px;
    color: #342E37;
}

.about-desc {
    font-weight: 300px;
    color: #342E37;
}



.about-skill-item {
    margin: 20px 0px;
    text-align: center;
    color: #342E37;
}

@media screen and (max-width: 480px) {
    .about {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        height: 50vh;
    }

    .about-left {
        width: 100%;
    }

    .about-right {
        padding: 20px;
        height: 30px;
    }
}